---
import { Image } from 'astro:assets'

import { Quote } from 'astro-pure/advanced'
import { PostPreview } from 'astro-pure/components/pages'
import { getBlogCollection, sortMDByDate } from 'astro-pure/server'
import { Button, Card, Icon, Label } from 'astro-pure/user'
import PageLayout from '@/layouts/BaseLayout.astro'
import ProjectCard from '@/components/home/ProjectCard.astro'
import Section from '@/components/home/Section.astro'
import SkillLayout from '@/components/home/SkillLayout.astro'
import avatar from '@/assets/avatar.png'
import config from '@/site-config'

const languages = ['R', 'Python', 'HTML', 'Shell']
const Tools = ['Linux', 'Vercel', 'System recovery', 'Astro', 'Waline']

const MAX_POSTS = 5
const allPosts = await getBlogCollection()
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS)
---

<PageLayout meta={{ title: 'Home' }} highlightColor='#144A74'>
  <main class='flex w-full flex-col items-center'>
    <section class='animate mb-10 flex flex-col items-center gap-y-7' id='content-header'>
      <Image
        src={avatar}
        alt='profile'
        class='h-28 w-auto rounded-full border p-1'
        loading='eager'
      />

      <div class='flex flex-col items-center gap-y-4'>
        <h1 class='text-3xl font-bold'>{config.author}</h1>
        <div class='flex flex-wrap justify-center gap-x-6 gap-y-3'>
          <Label title='Taipa, Macau, China' as='a' href='https://www.bing.com/maps?q=Taipa,Macao,China' target='_blank'>
            <Icon name='location' class='size-5' slot='icon' />
          </Label>
          <Label
            title='Contact me'
            as='a'
            href='mailto:1079339223@qq.com'
          >
            <Icon name='email' class='size-5' slot='icon' />
          </Label>

          <Label
            title=''
            as='a'
            href='https://github.com/hanhan124'
          >
            <Icon name='github' class='size-5' slot='icon' />
          </Label>

          <Label
            title=''
            as='a'
            href='https://b23.tv/D200vzK'
          >
            <Icon name='bilibili' class='size-5' slot='icon' />
          </Label>

          <Label
            title=''
            as='a'
            href='https://www.zhihu.com/people/han-shuo-61-11'
          >
            <Icon name='zhihu' class='size-5' slot='icon' />
          </Label>

          <Label
            title=''
            as='a'
            href='http://www.coolapk.com/u/1085514'
          >
            <Icon name='coolapk' class='size-5' slot='icon' />
          </Label>          

          <Label
            title=''
            as='a'
            href='https://y.music.163.com/m/user?id=352934338'
          >
            <Icon name='netease' class='size-5' slot='icon' />
          </Label>              

          <Label
            title=''
            as='a'
            href='https://v.douyin.com/AvA09RAhfiY/'
          >
            <Icon name='tiktok' class='size-5' slot='icon' />
          </Label> 
          
          <Label
            title=''
            as='a'
            href='https://www.xiaohongshu.com/user/profile/5eac2d6e0000000001000b9b?xsec_token=YBABOPzP-4pU2wJ9rQzW8zfaW0y_r_rqLoqiVnkiDse08%3D&xsec_source=app_share&xhsshare=CopyLink&shareRedId=N0tDQzVJOk42NzUyOTgwNjY0OTc0Rz9L&apptime=1757791769&share_id=83f24763a08f4ac09eec95964151b99e&share_channel=copy_link'
          >
            <Icon name='instagram' class='size-5' slot='icon' />
          </Label>   

        </div>
      </div>

      {/* Get template */}
      <a
        href='\about'
        target='_blank'
        class='flex flex-row items-center gap-x-3 rounded-full border bg-background px-4 py-2 text-sm shadow-sm transition-shadow hover:shadow-md'
      >
        <span class='relative flex items-center justify-center'>
          <span
            class='absolute size-2 animate-ping rounded-full border border-green-400 bg-green-400 opacity-75'
          ></span>
          <span class='size-2 rounded-full bg-green-400'></span>
        </span>
        <p class='font-medium text-muted-foreground'>More about me</p>
      </a>
    </section>

    <div id='content' class='animate flex flex-col gap-y-10 md:w-4/5 lg:w-5/6'>
      <Section title='About'>
        <p class='text-muted-foreground'>👋Hi, I’m Han</p>
        <p class='text-muted-foreground'>
        Here are the articles that I have written or excerpted 📝<br />
        Covering various topics such as technology, life, efficiency, photography, etc.<br />
        Welcome to browse and leave a comment if you have any questions or suggestions.  :)
        </p>
      </Section>
      {
        allPostsByDate.length > 0 && (
          <Section title='Posts'>
            <ul class='flex flex-col gap-y-1.5 sm:gap-y-2'>
              {allPostsByDate.map((p) => (
                <li class='flex flex-col gap-x-2 sm:flex-row'>
                  <PostPreview post={p} />
                </li>
              ))}
            </ul>
            <Button title='More posts' class='w-fit self-end' href='/blog' variant='ahead' />
          </Section>
        )
      }

      {
        /* <Section title='Experience'>
      <Card
        heading='Lorem Ipsum'
        subheading='Sit amet consectetur'
        date='Dec 2022 - Nov 2023'
        imagePath='/src/assets/about-astro.png'
        altText='Lorem, ipsum dolor sit'
        imageClass='h-12 w-auto md:-start-16'
      >
        <ul class='ms-4 list-disc text-muted-foreground'>
          <li>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolore debitis recusandae, ut
            molestiae laboriosam pariatur!

            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, pariatur!</li>
          </li>
        </ul>
      </Card>
      <Card
        heading='Lorem Ipsum'
        subheading='Sit amet consectetur'
        date='Dec 2022 - Nov 2023'
        imagePath='/src/assets/about-astro.png'
        altText='Lorem, ipsum dolor sit'
        imageClass='h-12 w-auto md:-start-16'
      />
    </Section> */
      }


      <Section title='Website List'>
        <div class='grid grid-cols-1 gap-3 sm:grid-cols-2'>
          <ProjectCard
            href='https://earth.google.com/'
            heading='Google Earth'
            subheading='Explore the world'
            imagePath='/src/assets/projects/earth.jpg'
            />
          <ProjectCard
            href='/PlateEditor.html'
            heading='PlateEditor'
            subheading='For qPCR Plate Editing' '
            imagePath='/src/assets/projects/nova-PCRPlates.jpg'
          />
          <ProjectCard
            href='https://www.youtube.com/watch?v=dQw4w9WgXcQ'
            heading='Lorem ipsum'
            subheading='dolor sit amet, oratio ornatus explicari pro ex'
            imagePath='/src/assets/projects/kseniia-zapiatkina-yATU3rg8tNI-unsplash.jpg'
          />
          <ProjectCard
            href='/projects'
            heading='More projects'
            subheading='Check out more projects'
            imagePath='/src/assets/projects/wen-qiao-g_w8I64FiO0-unsplash.jpg'
          />
        </div>
        
     {/*      
      </Section>

      <Section title='Skills'>
        <SkillLayout title='Languages' skills={languages} />
        <SkillLayout title='Tools' skills={Tools} />
      </Section>    */}

    </div>

    <br>
    <br>

    <a
        href='/about'
        target='_blank'
        class='flex flex-row items-center gap-x-3 rounded-full border bg-background px-4 py-2 text-sm shadow-sm transition-shadow hover:shadow-md'
      >
        <span class='relative flex items-center justify-center'>
          <span
            class='absolute size-2 animate-ping rounded-full border border-green-400 bg-green-400 opacity-75'
          ></span>
          <span class='size-2 rounded-full bg-green-400'></span>
        </span>
        <p class='font-medium text-muted-foreground' >To be continued... :)</p>
      </a>

  </main>
</PageLayout>
