---
import links from 'public/links.json'
import config from 'virtual:config'

import { Collapse, Timeline } from 'astro-pure/user'
import PageLayout from '@/layouts/CommonPage.astro'
import FriendList from '@/components/links/FriendList.astro'
import ToolSection from '@/components/about/ToolSection.astro'

const headings = [
  { depth: 2, slug: 'common-links', text: 'Common Links' },
  { depth: 2, slug: 'special-links', text: 'Special Links' },
  { depth: 2, slug: 'book-lists', text: 'Equipment Booking List' },
  { depth: 2, slug: 'tools', text: 'Tools' },
  { depth: 2, slug: 'apply-links', text: 'Apply Links' }
]

const { friends } = links
const linksConf = config.integ.links
const linkEditPage = 'https://github.com/cworld1/astro-theme-pure/blob/main/public/links.json'
---

<PageLayout title='Links' {headings} comment>
  <p>这里是一些可能有用的链接 ~</p>
  <h2 id='special-links'>Equipment Booking Links</h2>
  <FriendList list={friends[3]} />  
  <h2 id='special-links'>Special Links</h2>
  <FriendList list={friends[2]} />
  <h2 id='common-links'>Common Links</h2>
  <FriendList list={friends[0]} />
  <Collapse title='Links with Bad Status'>
    <FriendList list={friends[1]} />
  </Collapse>
  <Collapse title='Link History Book'>
    <Timeline events={linksConf.logbook} />
  </Collapse>

  {/* tools */}
  <h2 id='tools'>Tools</h2>
  <p>Current support tools as follow:</p>
  <ToolSection
    class='mb-5'
    title='Design'
    tools={[
      {
        name: 'Iconscout',
        description: 'Find Free Icons',
        href: 'https://iconscout.com/',
        icon: import('@/assets/tools/figma.svg?raw')
      },
      {
        name: 'Lobehub',
        description: 'Find Free Icons',
        href: 'https://lobehub.com/zh/resources',
        icon: import('@/assets/tools/lobehub-color.svg?raw')
      },
      {
        name: 'After Effects',
        description: 'Motion Graphics',
        href: 'https://www.adobe.com/products/aftereffects',
        icon: import('@/assets/tools/aftereffects.svg?raw')
      },
      {
        name: 'Premiere Pro',
        description: 'Video Editing',
        href: 'https://www.adobe.com/products/premiere',
        icon: import('@/assets/tools/premiere.svg?raw')
      }
    ]}
  />
  <ToolSection
    class='mb-5'
    title='AI Productivity'
    tools={[
      {
        name: 'Kimi',
        description: 'Moonshot',
        href: 'https://kimi.moonshot.cn/',
        icon: import('@/assets/tools/kimi-color.svg?raw')
      },
      {
        name: 'Wenxin',
        description: 'Baidu',
        href: 'https://yiyan.baidu.com/',
        icon: import('@/assets/tools/wenxin-color.svg?raw')
      },
      {
        name: 'Grok',
        description: 'X',
        href: 'https://grok.com/',
        icon: import('@/assets/tools/grok.svg?raw')
      },
      {
        name: 'Gemini',
        description: 'Google',
        href: 'https://gemini.google.com/',
        icon: import('@/assets/tools/gemini-color.svg?raw')
      },
      {
        name: 'Qianwen',
        description: 'Alibaba',
        href: 'https://www.tongyi.com/',
        icon: import('@/assets/tools/qwen-color.svg?raw')
      },
      {
        name: 'Hunyuan',
        description: 'Tencent',
        href: 'https://hunyuan.tencent.com/',
        icon: import('@/assets/tools/hunyuan-color.svg?raw')
      },
      {
        name: 'Doubao',
        description: 'Bytedance',
        href: 'https://www.doubao.com/chat/',
        icon: import('@/assets/tools/doubao-color.svg?raw')
      },
      {
        name: 'Glm',
        description: 'Zhipuai',
        href: 'https://chatglm.cn/',
        icon: import('@/assets/tools/zhipu-color.svg?raw')
      },
      {
        name: 'Consensus',
        description: 'Read Paper',
        href: 'https://consensus.app/',
        icon: import('@/assets/tools/newspaper.svg?raw')
      }
    ]}
  />
  <ToolSection
    class='mb-5'
    title='Development'
    tools={[
      {
        name: 'VS Code',
        description: 'IDE',
        href: 'https://code.visualstudio.com/',
        icon: import('@/assets/tools/vscode.svg?raw')
      },
      {
        name: 'Neovim',
        description: 'IDE',
        href: 'https://neovim.io/',
        icon: import('@/assets/tools/neovim.svg?raw')
      },
      {
        name: 'Sublime Text',
        description: 'IDE',
        href: 'https://www.sublimetext.com/',
        icon: import('@/assets/tools/sublime.svg?raw')
      }
    ]}
  />
  <ToolSection
    class='mb-5'
    title='Environment'
    tools={[
      {
        name: 'Arch Linux',
        description: 'Linux Distribution',
        href: 'https://archlinux.org/',
        icon: import('@/assets/tools/archlinux.svg?raw')
      },
      {
        name: 'Ubuntu 24.04 LTS',
        description: 'Linux Distribution',
        href: 'https://ubuntu.com/',
        icon: import('@/assets/tools/ubuntu.svg?raw')
      },
      {
        name: 'MacOS Tahoe',
        description: 'MacBook Air',
        href: 'https://www.apple.com/macos/',
        icon: import('@/assets/tools/apple.svg?raw')
      },
      {
        name: 'Windows 11',
        description: 'Framework Laptop 16',
        href: 'https://news.microsoft.com/windows11-general-availability/',
        icon: import('@/assets/tools/windows11.svg?raw')
      }
    ]}
  />

  <!-- apply-links -->
  <h2 id='apply-links'>Apply Links</h2>
  <p>本站信息（点击复制）The site information (click to copy)：</p>
  <blockquote class='not-prose grid grid-cols-[auto_1fr] gap-x-2 break-words border-s-4 ps-4'>
    {
      linksConf.applyTip.map(({ name, val }) => {
        const script = `navigator.clipboard.writeText('${val}');document.dispatchEvent(new CustomEvent('toast',{detail:{message:'Copied "${val}" to clipboard!'}}))`
        return (
          <>
            <span class='text-end'>{name}:</span>
            <samp class='cursor-pointer' onclick={script}>
              {val}
            </samp>
          </>
        )
      })
    }
  </blockquote>

  <p>
    可通过下方留言或 <a href={linkEditPage} target='_blank'>提交 PR</a> 申请友链。此外申请说明：<br
    />
    Apply your link by leaving comment or <a href={linkEditPage} target='_blank'>Submitting a PR</a
    >. Additional info:
  </p>
  <ul>
    <li>在你的友链上添加了本站. You've recommended this site on your website.</li>
    <li>请确保你的站点活着. Make sure your site is alive.</li>
    <li>博客内容不违反国家法律. Content does not violate common laws.</li>
  </ul>
</PageLayout>
